/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
/* .login{
    height: 10px;
    width: auto;
}*/
.carrinho{
   position: relative;
   bottom: 5px;
}
#Logo{
    position: relative;
    width: 100px;
    height: auto;
   
}
#logged{
    position: relative;
    color: #3ad4d6;
    left: 15px;
}

.navbar{
    display:grid;
    background-color: #112e4c;
}
#categoriesnavbar{
    background-color: #ffffff;
    margin-bottom: 20px;
    /* border-top: solid 1px #000000;
    border-bottom: solid 1px #000000; */
}

.columns_5{
    -webkit-column-count:5;
    -moz-column-count:5;
    column-count:5;
  }

#columns {      
    -moz-column-gap: 5px;  
    -webkit-column-gap: 5px;
    column-gap: 5px;
    width: 90%;
    max-width: 1100px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 25px;
    border-radius: 10px;
    font-size: 1.4rem;
}

.paymentimg{
    position: relative;
    width: 260px;
    height:auto;    
    margin-bottom: 20px;
    
}

.card-body {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 2px 2px 2px;
    transition: all .7s ease-in-out;
    display: inline-block;
    border-radius: 10px;
}
  
.cardimg {
    width: auto; height: 250px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
    border-radius: 10px;
}

.card-body:hover{
    padding: 17px;
  }

div#columns small { 

    font-size: 1rem;
    float: right; 
    text-transform: uppercase;
    color: #aaa;
    border-radius: 10px;
  
  };
  
#homesearch{
    width: 500px;
}
#homesearchdiv{
    margin: 15px;
    
}.socialImg{
    position: relative;
    bottom:1px;
    right: 10px;
}
.selosFooter{
    display: block;
}
footer {
    margin-top: 10px;
    background: #112e4c;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important;
}